.vs
Binaries
Intermediate
*.sdf
*.opensdf
*.opendb
*.sln
.~*
Saved/Autosaves
Saved/Backup
Saved/Collections
Saved/Config
Saved/Cooked
Saved/HardwareSurvey
Saved/Logs
Saved/Profiling
Saved/StagedBuilds
Saved/Stats
Saved/Temp
Saved/AutoScreenshot.png
